<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="componentepadre-a">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `componentepadre-a`
     * componente principal
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ComponentepadreA extends Polymer.Element {
      static get is() { return 'componentepadre-a'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'componentepadre-a'
          }
        };
      }
    }

    window.customElements.define(ComponentepadreA.is, ComponentepadreA);
  </script>
</dom-module>
