<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../componente-c/componente-c.html">
<link rel="import" href="../componente-b/componente-b.html">

<dom-module id="componentepadre-a">
  <template is="dom-if" if="[[btn3]]">
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Bienvenido a [[prop1]]!</h2>

    <h3>
      <p>Al hacer click en Boton 1 muestra una lista.
      </p>
      <p>Al hacer click en Boton 2 muestra una tabla de datos</p>
    </h3>
    <paper-button on-cambio="casos" on-click="cambiar" raised>BOTON 1</paper-button>
    <paper-button on-cambio="casos" on-click="cambiar" raised>BOTON 2</paper-button>

    <template is="dom-if" if="[[btn1]]">
      <componente-b></componente-b>
    </template>
    <template is="dom-if" if="[[btn2]]">
      <componente-c></componente-c>
    </template>

  </template>

  <script>
    /**
     * `componentepadre-a`
     * componente principal
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ComponentepadreA extends Polymer.Element {
      static get is() { return 'componentepadre-a'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'la evaluacion, Componente Padre'
          },
          btn1:{
            type:Boolean,
            value:false
          },
          btn2:{
            type:Boolean,
            value:false
          },
          btn3:{
            type: Boolean,
            value:true
          }

        };
      }
      casos(e){
      switch(e.detail){
        case'BOTON1':
        this.btn1= true 
        this.btn2= false
        this.btn3=false
        break;

        case 'BOTON2':
        this.btn1= false
        this.btn2= true 
        this.btn3=false
        break;
      }}
      cambiar(){
        this.dispatchEvent(
          new CustomEvent('cambio',
            {detail:e}
        ));
      }

     
    }

    window.customElements.define(ComponentepadreA.is, ComponentepadreA);
  </script>
</dom-module>
